
<p>
<br>
This lesson will introduce you to data processing and visualization for shotgun metagenomics. Contrarily to amplicon-based metagenomics, this technique can yield whole microbial genomes from environmental samples. This is helpful as reconstructing microbial genomes can give an insight into their functional gene repertoire. Still, shotgun metagenomics comes with its own challenges mostly in terms of cost and computional challenges. 

This workshop is meant to provide with a clear, stable starting point to perform a shotgun metagenomics experiment and visualise the results. 
<br>
<br>
This workshop is part of the <a href="https://scienceparkstudygroup.github.io/2021_summer_school/">2021 Summer School</a> organised by the <a href="https://www.scienceparkstudygroup.info/">Amsterdam Science Park Study Group</a>. This event is made possible thanks to the support of the <a href="https://www.nwo.nl/en/news/winners-announced-five-new-nwo-science-awards">NWO Team Science Award (2020 edition)</a>.  

<br>
<br>
</p>
