
<p>
<br>
This lesson will introduce you to open data science so you can work with data in an open, reproducible, and collaborative way. Open data science means that methods, data, and code are available so that others can access, reuse, and build from it without much fuss. Here you will learn a workflow with R, RStudio, Git, and GitHub.  
<br>  
This is going to be fun, because learning these open data science tools and practices is empowering! This training book is written (and always improving) so you can also use it after the workshop if you have forgotten something for instance.   
<br>
This workshop is part of the <a href="https://scienceparkstudygroup.github.io/2021_summer_school/">2021 Summer School</a> organised by the <a href="https://www.scienceparkstudygroup.info/">Amsterdam Science Park Study Group</a>. This event is made possible thanks to the support of the <a href="https://www.nwo.nl/en/news/winners-announced-five-new-nwo-science-awards">NWO Team Science Award (2020 edition)</a>.  

<br>
<br>
</p>
