<!--
Open Science with R workshop
-->
<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td> Morning<br>(9:30-11:00)</td>
	<td> <a href="https://carpentries-incubator.github.io/metagenomics/01-background-metadata/index.html">Starting a metagenomics project</a><br>(Anouk) </td>
      </tr>
      <tr>
        <td>Coffee break :coffee: </td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:15-12:45)</td>
        <td> <a href="https://carpentries-incubator.github.io/metagenomics/02-assessing-read-quality/index.html">Assessing Read Quality </a> <br><a href="https://carpentries-incubator.github.io/metagenomics/03-trimming-filtering/index.html">Trimming and filtering</a><br>(Misha - Marc)</td>
      </tr>
      <tr>
        <td>Lunch break :pizza: </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:45-15:15)</td>
        <td> <a href="https://carpentries-incubator.github.io/metagenomics/04-assembly/index.html">Metagenome assembly</a><br> <a href="https://carpentries-incubator.github.io/metagenomics/05-binning/index.html">Metagenome Binning</a><br>(Jesse - Marc)</td>
      </tr>
      <tr>
        <td>Tea break :tea: </td>
        <td>  </td>
      </tr>
      <tr>
	<td>Afternoon<br>(15:30-17:00)</td>
	<td> <a href="https://carpentries-incubator.github.io/metagenomics/06-taxonomic/index.html">Taxonomic Assignment</a><br>(Anouk - Rodrigo)</td>
      </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>Morning<br>(9:30-11:00)</td>
        <td><a href="https://carpentries-incubator.github.io/metagenomics/07-Diversity-tackled-with-R/index.html">Diversity tackled with R</a><br>(Anouk - Rodrigo)</td>
      </tr>  
      <tr>
        <td>Coffee break :coffee:</td>
        <td>  </td> 
      </tr>
      <tr>
        <td> Morning<br>(11:15-12:45)</td>
        <td><a href="https://carpentries-incubator.github.io/metagenomics/08-hands_on-diversity/index.html">Taxonomic Analysis <br>with R</a><br> (Anouk - Rodrigo)<br> </td> 
      </tr>
      <tr>
        <td>Lunch break :pizza: </td>
        <td>  </td>
      </tr>
      <tr> 
        <td>Afternoon<br>(13:45-15:15)</td>
        <td><a href="https://carpentries-incubator.github.io/metagenomics/09-OtherResources/index.html">Other resources</a><br>(Anouk)</td>
      </tr>
      <tr>
        <td> Tea break :tea: </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td>Conclusions<br> Q&As<br>(Anouk)</td>
      </tr>
    </table>
  </div>
</div>


<!--
<div class="row">
  <div class="col-md-4">
    <h3>Day 1 Oct 29</h3>
    <table class="table table-striped">
      <tr>
        <td><br><br></td>
        <td><br></td>
      </tr>
      <tr>
        <td><br></td>
        <td>  </td>
      </tr>
      <tr>
        <td>Before start<br><br></td>
        <td> <a href=" {{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td><br></td>
        <td> </td>
        </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
        <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets<br>part 1</a></td></tr>
     <tr>
        <td> Tea break :tea:  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets<br>part 2</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2 Oct 30</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:00-10:30)</td>
        <td> R session 1 </td>
      </tr>
      <tr>
        <td> Coffee break :coffee: </td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:00-12:30)</td>
        <td> R session 2 </td>
      </tr>
      <tr>
        <td> Lunch  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
       <td> R session 3</td>
      </tr>
      <tr>
        <td> Tea break :tea:  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> R session 4 </td>
      </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3 Oct 31</h3>
    <table class="table table-striped">
      <tr>
        <td> Morning<br>(9:00-10:30)</td>
        <td> R session 5 </td>
      </tr>
      <tr>
        <td> Coffee break :coffee:</td>
        <td>  </td>
      </tr>
      <tr>
        <td> Morning<br>(11:00-12:30)</td>
        <td> R session 6 </td>
      </tr>
      <tr>
        <td> Lunch </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(13:30-15:00)</td>
        <td>Version Control with Git</td>
      </tr>
      <tr>
        <td> Tea break :tea: </td>
        <td>  </td>
      </tr>
      <tr>
        <td>Afternoon<br>(15:30-17:00)</td>
        <td> guest speaker </td>
      </tr>
    </table>
  </div>
</div>
-->
